= form_for @installation do |f|
  - if @installation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@installation.errors.count, "error")} prohibited this installation from being saved:"
      %ul
        - @installation.errors.full_messages.each do |msg|
          %li= msg

  .row
    = f.label :name
    = f.text_field :name
  .row
    = f.label :slug
    = f.text_field :slug
  .row
    = f.label :install_date
    = f.date_select :install_date, {start_year: 1990, end_year: Date.today.year}, class: 'medium-4 columns'
  .row
    = f.label :description
    = f.text_field :description
  .row
    =f.fields_for :address do |a|
      =render :partial => 'addresses/address_fields', locals: {f: a}
  .row
    = f.label :company
    = f.collection_select  :company_id, Company.all, :id, :name
  .row
    = f.submit 'Save'
