= form_for @installation do |f|
  - if @installation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@installation.errors.count, "error")} prohibited this installation from being saved:"
      %ul
        - @installation.errors.full_messages.each do |msg|
          %li= msg
  .row
    .medium-6.columns
      .row
        .small-12.columns
          = f.label :name
          = f.text_field :name
      .row
        .small-12.columns
          = f.label :slug
          = f.text_field :slug
      .row
        .small-12.columns
          = f.label :install_date
          = f.date_select :install_date, {start_year: 1990, end_year: Date.today.year}, class: 'medium-4 columns'
      .row
        .small-12.columns
          = f.label :description
          = f.text_field :description
      =f.fields_for :address do |a|
        =render :partial => 'addresses/address_fields', locals: {f: a}
      .row
        .small-12.columns
          = f.label :company
          = f.collection_select  :company_id, Company.all, :id, :name
    .medium-6.columns
      %h2 Components
      -@installation.components.each do |component|
        .row
          .small-12.columns
            #{component.name}
      .row
        .small-12.columns
          %ul.accordion.flush{'data-accordion' => ''}
            %li.accordion-navigation.expand
              =link_to 'Add Exitisting Component', '#panel1a'
              #panel1a.content.active
                = f.label :component_ids
                = f.collection_select  :component_ids, Component.all, :id, :name ,{:prompt => 'Please add components'},{multiple: true}
            %li.accordion-navigation.expand
              =link_to 'Add New Component', '#panel2a'
              #panel2a.content
                =fields_for :component do |c|
                  .row
                    .small-12.columns
                      = c.label :name
                      = c.text_field :name
                  .row
                    .small-12.columns
                      = c.label :company_id
                      = c.collection_select  :company_id, Company.all, :id, :name
                  .row
                    .small-12.columns
                      = c.label :part_number
                      = c.text_field :part_number
                  .row
                    .small-12.columns
                      = c.label :serial_number
                      = c.text_field :serial_number
                  .row
                    .small-12.columns
                      =link_to 'Add component', 'javascript: postComponent',{class: 'button radius'}

  .row
    .small-12.columns
      = f.submit 'Save'
