%h1 Listing installations

%table
  %thead
    %tr
      %th Name
      %th Slug
      %th
      %th
      %th
      
  %tbody
    - @installations.each do |installation|
      %tr
        %td= installation.name
        %td= installation.slug
        %td= link_to 'Show', installation
        %td= link_to 'Edit', edit_installation_path(installation)
        %td= link_to 'Destroy', installation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Installation', new_installation_path
