%p#notice= notice

%p
  %b Name:
  = @installation.name
%p
  %b Slug:
  = @installation.slug
%p
  %b Description:
  = @installation.description
%p
  %b Install Date:
  = @installation.install_date.to_s
=render partial: 'addresses/show_address', locals: {address: @installation.address}

= link_to 'Edit', edit_installation_path(@installation)
\|
= link_to 'Back', installations_path
