.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :company_id
  = f.collection_select  :company_id, Company.all, :id, :name
.field
  = f.label :part_number
  = f.text_field :part_number
.field
  = f.label :serial_number
  = f.text_field :serial_number