= form_for @component, url: @component.id ? api_v1_component_path(@component) : api_v1_components_path do |f|
  - if @component.errors.any?
    #error_explanation
      %h2= "#{pluralize(@component.errors.count, "error")} prohibited this component from being saved:"
      %ul
        - @component.errors.full_messages.each do |msg|
          %li= msg

  =render partial: 'api/v1/components/fields', locals: {f: f}
  .actions
    = f.submit 'Save'
