.row
  .small-12.columns
    %h2
      Training Matierials
.row
  .small-12.columns
    .row
      .small-12.columns
        &nbsp
    .row
      .medium-3.columns
        .button.radius.expand
          #{link_to 'PV Modules','#'}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Spare Parts','#'}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Batteries',"#"}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Grid Extension',"#"}
    .row
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Energy Management','#'}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Hybrid Systems','#'}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Interconnect Panel',"#"}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Electrical Safety',"#"}
    .row
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Inverters','#'}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Charge Controllers','#'}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Maintenance Kits',"#"}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Trouble Shooting',"#"}

.row
  .small-12.columns
    %h2
      Manuals
.row
  .small-12.columns
    .row
      .small-12.columns
        &nbsp
    .row
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Training Manual 1','/files/training-manual.pdf'}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Training Manual 2','/files/training-manual.pdf'}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Training Manual 3','/files/training-manual.pdf'}
      .medium-3.columns
        .button.radius.expand
          #{link_to 'Training Manual 4','/files/training-manual.pdf'}
:css
  .button a:link{color: white;}