<div class="row">
  <div class="col-sm-4">
    <h3><%=@project.name%></h3> <h5><%=@project.address.city%>, <%=@project.address.state%>, <%=@project.address.country_name%></h5>
    <div class="photo">
      <%=image_tag("project-img-1.png")%>
    </div>
    <div class='proj-info'>
      <div><b><%=@project.description%></b></div>
      <div><b>Year installed:</b> <%=@project.install_date.to_s%></div>
      <div><b>Company:</b> <%=@project.company.name%></div>
      <div><b>Parts:</b></div>
      <% @project.components.each do |component| %>
        <div><%=component.name %></div>
      <%end%>
      <a href="#">See full maintenance log for <%=@project.name%>.</a>

        <%= link_to("Delete This Project", api_v1_project_path(@project, return_to: projects_path), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'btn btn-danger destroy_link') if can?(:destroy,@project)  %>
        <%= link_to("Manage Users", project_users_path(@project), class: 'btn btn-primary') if can?(:manage_users,@project) %>
        <%= link_to("Edit Pictures", project_project_pics_path(@project),class: 'btn btn-primary') if can?(:manage_pictures,@project) %>

    </div>
  </div>
  <div class="col-sm-8">
    <div class="map-image columns">
        <div id="map-canvas"></div>
    </div>
  </div>
</div>

  <%=  javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>

  <script>

    var map;
    var geocoder;
    var country = "<%=@project.address.country_name%>";
    var city = "<%=@project.address.city%>";
    var zip = "<%=@project.address.postal_code%>";
    var lat = "<%=@project.address.latitude%>";
    var long = "<%=@project.address.longitude%>";

    google.maps.event.addDomListener(window, 'load', googleMapsInitialize);

  </script>

