.row
  .col-sm-4
    %h3= @project.name
    %h5
      = @project.address.city
      , #{@project.address.state}, #{@project.address.country_name}
    .photo
      = image_tag("project-img-1.png")
    .proj-info
      %div
        %b= @project.description
      %div
        %b Year installed:
        = @project.install_date.to_s
      %div
        %b Company:
        = @project.company.name
      %div
        %b Parts:
      - @project.components.each do |component|
        %div= component.name
      %a{:href => "#"}
        See full maintenance log for #{@project.name}.
      = link_to("Delete This Project", api_v1_project_path(@project, return_to: projects_path), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'btn btn-danger destroy_link') if can?(:destroy,@project)
      = link_to("Manage Users", project_users_path(@project), class: 'btn btn-primary') if can?(:manage_users,@project)
      = link_to("Edit Pictures", project_project_pics_path(@project),class: 'btn btn-primary') if can?(:manage_pictures,@project)
  .col-sm-8
    .map-image.columns
      #map-canvas
= javascript_include_tag "https://maps.googleapis.com/maps/api/js"
:javascript
  var map;
  var geocoder;
  var country = "#{@project.address.country_name}";
  var city = "#{@project.address.city}";
  var zip = "#{@project.address.postal_code}";
  var lat = "#{@project.address.latitude}";
  var long = "#{@project.address.longitude}";

  google.maps.event.addDomListener(window, 'load', googleMapsInitialize);
