%p
  %b Address1:
  = address.address1
%p
  %b Address2:
  = address.address2
%p
  %b City:
  = address.city
%p
  %b State:
  = address.state
%p
  %b Postal code:
  = address.postal_code
%p
  %b Country:
  = address.country_id
%p
  %b Latitude:
  = address.latitude
%p
  %b Longitude:
  = address.longitude
