= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :screen_name
    = f.text_field :screen_name
  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :post_text
    = f.text_field :post_text
  .actions
    = f.submit 'Save'
