.row.admin-row
  .col-xs-4.admin-label
    Address1:
  .col-xs-8.admin-item
    = address.address1
.row.admin-row
  .col-xs-4.admin-label
    Address2:
  .col-xs-8.admin-item
    = address.address2
.row.admin-row
  .col-xs-4.admin-label
    City:
  .col-xs-8.admin-item
    = address.city
.row.admin-row
  .col-xs-4.admin-label
    State:
  .col-xs-8.admin-item
    = address.state
.row.admin-row
  .col-xs-4.admin-label
    Postal Code:
  .col-xs-8.admin-item
    = address.postal_code
.row.admin-row
  .col-xs-4.admin-label
    Country
  .col-xs-8.admin-item
    = address.country_name
.row.admin-row
  .col-xs-4.admin-label
    Latitude:
  .col-xs-8.admin-item
    = address.latitude
.row.admin-row
  .col-xs-4.admin-label
    Longitude:
  .col-xs-8.admin-item
    = address.longitude
