!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge",  "http-equiv" =>"X-UA-Compatible" }/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %title= content_for?(:title) ? yield(:title) : "Sunfixr"
    = stylesheet_link_tag('application', media: 'all')
    = javascript_include_tag('application')
    = csrf_meta_tags
  %body
    #top-nav-bar.container
      =render partial: 'shared/header'
    %div.container{:id=>params[:controller] + '-' + params[:action]}
      .row
        .col-xs-12
          = yield

